html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #E8E8E8;
}
h1 {
	font-size: 1.25em;
}
button {
	font-size: 2em;
}
span {
	font-size: 1.1em;
	padding-right: 10px;
}

select {font-size: 1.4em;}
.app-container {
	height: 80vh;
	width: 80vw;
	text-align: center;
	margin-left:auto;
	margin-right: auto;
}
.game_container {
	height: 100%;
}
.board_container {
	height: 100%;
	box-shadow: 4px 4px 4px #888888;
}
#root {
	height:80%;
}
#header {
	position: relative;
	top: 0;
	width: 100%;
	margin-left:auto;
	text-align: center;
}
.cell {
	box-sizing: border-box;
	border: 1px solid black;
	display: inline-block;
	position: relative;
	height: 100%;
	background-color: white;
	text-align: center;
}

.cell:hover{
	border: 4px solid blue;
	box-shadow: 10px 10px 10px #888888;
	cursor: pointer;
}

.settings_container {
	padding: 15px 15px;
	display: inline-block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.board_settings {
	width: 33.333%;
	display: inline-block;
}

.cellContent {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    font-size: 1.5em;
    transform: translate(-50%, -50%)
}
.bomb {
	background-color: red;
}

.covered {
	background-color: white;
}

.left {
	float: left;
}
.right {
	float: right;
}


@-webkit-keyframes GAMELOST {
  0%   { background-color: #ffffb2; }
  22% { background-color: #ffff00; }
  77% {background-color: #ffc04c;}
  88% {background-color: #FF6700;}
  100% {background-color: #777;}
}
@-moz-keyframes GAMELOST {
   0%   { background-color: #ffffb2; }
  22% { background-color: #ffff00; }
  77% {background-color: #ffc04c;}
  88% {background-color: #FF6700;}
  100% {background-color: #777;}
}
@-o-keyframes GAMELOST {
  0%   { background-color: #ffffb2; }
  22% { background-color: #ffff00; }
  77% {background-color: #ffc04c;}
  88% {background-color: #FF6700;}
  100% {background-color: #777;}
}
@keyframes GAMELOST {
   0%   { background-color: #ffffb2; }
  22% { background-color: #ffff00; }
  77% {background-color: #ffc04c;}
  88% {background-color: #FF6700;}
  100% {background-color: #777;}
}

@-webkit-keyframes GAMEWON {
  0%   {background-color: #006400;}
  22%	{background-color: #98fb98;}
  77% 	{background-color: #f4f3f4;}
  100% {background-color: #777; }
}
@-moz-keyframes GAMEWON {
  0%   {background-color: #006400;}
  22%	{background-color: #98fb98;}
  77% 	{background-color: #f4f3f4;}
  100% {background-color: #777; }
}
@-o-keyframes GAMEWON {
  0%   {background-color: #006400;}
  22%	{background-color: #98fb98;}
  77% 	{background-color: #f4f3f4;}
  100% {background-color: #777; }
}
@keyframes GAMEWON {
  0%   {background-color: #006400;}
  22%	{background-color: #98fb98;}
  77% 	{background-color: #f4f3f4;}
  100% {background-color: #777; }
}

@-webkit-keyframes NEWGAME {
  0%   {border-width: #006400;}
  22%	{border-width: #98fb98;}
  77% 	{border-width: #f4f3f4;}
  100% {border-width: #777; }
}
@-moz-keyframes NEWGAME {
  0%   {border-width: 5px;}
  22%	{border-width: 7px;}
  77% 	{border-width: 10px;}
  100% {border-width: 5px; }
}
@-o-keyframes NEWGAME {
  0%   {border-width: 5px;}
  22%	{border-width: 7px;}
  77% 	{border-width: 10px;}
  100% {border-width: 5px; }
}
@keyframes NEWGAME {
  0%   {border-width: 5px;}
  22%	{border-width: 7px;}
  77% 	{border-width: 10px;}
  100% {border-width: 5px; }
}
  
.gameLost {
	background-color: green;
    -webkit-animation-name: GAMELOST;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.gameWon {
	-webkit-animation-name: GAMEWON;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.newGame {
	-webkit-animation-name: NEWGAME;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}