html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #E8E8E8;
}
h1 {
	font-size: 12px;
}
.app-container {
	height: 80vh;
	width: 80vw;
	text-align: center;
	margin-left:auto;
	margin-right: auto;
}
.game_container {
	height: 100%;
	box-shadow: 4px 4px 4px #888888;
}
#root {
	height:80%;
}
#header {
	position: relative;
	top: 0;
	width: 100%;
	margin-left:auto;
}
.cell {
	box-sizing: border-box;
	border: 1px solid black;
	display: inline-block;
	position: relative;
	height: 100%;
	background-color: white;
	
}

.cell:hover {
	border: 1px solid blue;
	box-shadow: 2px 2px 2px #888888;
	cursor: pointer;
}

.cell_content {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.bomb {
	background-color: red;
}
.covered {
	background-color: white;
}

.left {
	float: left;
}
.right {
	float: right;
}